GCP_PROJECT_ID=sctp-team2-project2-elt
GCS_BUCKET_NAME=m2_olin_raw
GCS_PREFIX=<[DONE] Initial Load -OR- incremental folder>
INSTANCE_CONNECTION_NAME=<when creating db instance>
DB_USER=postgres
DB_PASS=<when create db>
DB_NAME=olist
POSTGRES_SCHEMA=oltp
