# Copy to .env and adjust if needed. Do NOT commit .env or the key file.
GOOGLE_APPLICATION_CREDENTIALS=../../secrets/sctp-team2-project2-elt-1853e88c8665.json
GCP_PROJECT=sctp-team2-project2-elt
BQ_DATASET=raw_commerce
BQ_LOCATION=ASIA-SOUTHEAST1
MAX_UPLOAD_MB=100
FLASK_SECRET=change-me
